<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About - SignSpeak AI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<div class="logo">🤟 SignSpeak AI</div>

<nav>
<a href="/">Home</a>
<a href="/detect">Detection</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
</nav>
</header>

<div class="detect-page">

<h1>About SignSpeak AI</h1>

<div class="card" style="width:80%;margin:auto;">

<h2>Project Overview</h2>

<p>
SignSpeak AI is an Artificial Intelligence based web application that converts
Sign Language into Text and Speech using Computer Vision,
MediaPipe and TensorFlow.
</p>

<br>

<h2>Objectives</h2>

<ul style="text-align:left;font-size:18px;">
<li>✔ Detect hand gestures in real time</li>
<li>✔ Convert Sign Language into text</li>
<li>✔ Convert text into speech</li>
<li>✔ Help deaf and mute people communicate easily</li>
</ul>

<br>

<h2>Technologies Used</h2>

<p>

Python<br>
Flask<br>
OpenCV<br>
MediaPipe<br>
TensorFlow Lite<br>
HTML<br>
CSS<br>
JavaScript

</p>

</div>

</div>

</body>
</html>