<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<div class="logo">🤟 SignSpeak AI</div>

<nav>
<a href="/">Home</a>
<a href="/detect">Detection</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
</nav>

</header>

<div class="detect-page">

<h1>Contact Us</h1>

<div class="card" style="width:70%;margin:auto;">

<h2>College Project</h2>

<p>

Department of Computer Science & Engineering (AI)

</p>

<br>

<h2>Email</h2>

<p>
signspeakai@gmail.com
</p>

<br>

<h2>Phone</h2>

<p>
+91 XXXXX XXXXX
</p>

</div>

</div>

</body>
</html>