<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSpeak AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

<div class="logo">
🤟 SignSpeak
</div>

<nav>

<a href="/">Home</a>
<a href="/detect">Detection</a>
<a href="/about">About</a>

</nav>

</header>


<section class="hero">

<h1>AI Sign Language To Text Converter</h1>

<p>

Communicate easily using Artificial Intelligence.

Detect hand signs in real time and convert them into readable text and speech.

</p>

<a href="/detect">
<button class="start-btn">

Start Detection →

</button>
</a>

</section>


<section class="features">

<div class="card">

<h2>📷 Live Camera</h2>

<p>

Capture hand gestures directly from webcam.

</p>

</div>

<div class="card">

<h2>🤖 AI Recognition</h2>

<p>

Recognize sign language instantly.

</p>

</div>

<div class="card">

<h2>🔊 Voice Output</h2>

<p>

Speak the converted text automatically.

</p>

</div>

</section>


<footer>

© 2026 SignSpeak | AI Powered Sign Language Communication Tool

</footer>

</body>

</html>